name: Deploy artifact from build job to github pages

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
